@model IEnumerable<Movies4U.Models.Movie>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"
        integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
        crossorigin="anonymous">

</script>
<script>

    $(document).ready(
        function(){
            $('#MovieName').keyup(function () {
                var searchVal = $('#MovieName').val();
                var setData = $("#DataSearching");
                setData.html("");
                $.ajax({
                    type: "POST",
                    url: "/Movies/Search?MovieName=" + searchVal,
                    contentType: "html",
                    success: function (result) {
                        if (result.length == 0) {
                            setData.append('<tr><td colspan="7">No Movie Found</td></tr>');
                        }
                        else {
                            $.each(result, function (index, value){
                                var Data = "<tr>" +
                                    "<td>" + value.Name + "</td>" +
                                    "<td>" + value.Year + "</td>" +
                                    "<td>" + value.NumOfMinutes + "</td>" +
                                    "<td>" + value.Summary + "</td>" +
                                    "<td>" + value.MinimumAge + "</td>" +
                                    "<td>" + '<a href="' + value.TrailerURL + '">' + value.TrailerURL + "</td>" +
                                    '<td><a href="/Movies/Edit/' + value.Id +
                                    '">Edit</a> | <a href="/Movies/Details/' + value.Id +
                                    '">Details</a> | <a href="/Movies/Delete/' + value.Id +
                                    '">Delete</a></td>' +
                                    "</tr>";

                                setData.append(Data);
                            })
                        }
                    }
                });
            });
        });
</script>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Search">
    <label>Browse by movie name:</label>
    <input type="text" id="MovieName" />
    <input type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.NumOfMinutes)*@ Runtime (in minutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.MinimumAge)*@ Minimum Age
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrailerURL)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="DataSearching">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumAge)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.TrailerURL)">@Html.DisplayFor(modelItem => item.TrailerURL)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Users" asp-action="Admin">Admin page >></a>
